[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
huey = "*"
"mastodon.py" = "*"
django-import-export = "*"
django-environ = "*"
requests = "*"
requests-toolbelt = "*"
beautifulsoup4 = "*"
inscriptis = "*"
psycopg2-binary = "*"
redis = "*"
numpy = "==1.19.5"
humanize = "*"

[dev-packages]
black = "==21.5b2"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true

[packages.textgenrnn]
git = "https://github.com/minimaxir/textgenrnn.git"